{% extends "base.html" %}

{% block title %}
image
{% endblock title %}

{% block nav %}
navbar-dark bg-dark
{% endblock nav %}

{% block activei %}
active
{% endblock activei %}

{% block body %}
<div class="btn-group d-flex justify-content-space-center my-3 mx-5 px-5" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck1">Arctic Avalanche</label>
  
    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck2">Frosty Forest</label>
  
    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck3">Glacier Gush</label>
  </div>
  
  <div class="btn-group d-flex justify-content-space-center my-3 mx-5 px-5" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck1">Snowflake Surprise</label>
  
    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck2">Polar Pop</label>
  
    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck3">Blizzard Bliss</label>
  </div>

  <div class="btn-group d-flex justify-content-space-center my-3 mx-5 px-5" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck1">Frostbite Fudge</label>
  
    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck2">Northern Lights Nectar</label>
  
    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck3">Icy Delight</label>
  </div>
{% endblock body %}